In [1]:
print('hello world')

hello world

In [2]:
1 + 1

2

1 + 1
*this is markdown text*

## Print command stuff

In [3]:
print(1 + 1)

2

In [4]:
print('1 + 1')

1 + 1

### Data types
Text type: str (string), denoted by quotes

Numeric type: int (integer) or float (floating point, decimals)

### Operators
arithmetic operations operate on number types: +,-,x,/,% (modulus), ** (exponent), // (floor division)

### Functions
Elaborate pieces of ocde that take the form of: 
```name(argument)```
Round brackets for functions

In [5]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

First one is manditory argument, the rest of optional

### Variables
variables are placeholders for storing data values, declared using the = character

In [6]:
x = 1 + 1
text = 'hello world'

In [7]:
x

2

In [8]:
text

'hello world'

In [9]:
myVar =

SyntaxError: invalid syntax (1134473554.py, line 1)

Cannot assign a blank variable

### Naming variables
Rules:
* Variables must start with letter or underscore
* Can only contain numbers, letter, and underscore
* Cannot start with number
* case sensitive

In [11]:
a, b, c = 1, 2, 3
x = y = z = 10

Comma separates

Keep track of names, don't want to accidentally override previous

In [12]:
a + b

3

In [13]:
x + y

20

In [15]:
'hello' + x

TypeError: can only concatenate str (not "int") to str

Type Error because we are trying to perform operation on two different types

In [16]:
1 + 1

2

In [17]:
'a' + 'b'

'ab'

Plus sign works on both strings and numbers, but does different things

In [18]:
type(x)

int

Tells you variable is an integer

In [19]:
x = 'some text' 
type(x)

str

X can be changed to a string

### Errors
Pay attention to the message, tells you important information about where it went wrong.

In [20]:
x = 1 + 1:

SyntaxError: invalid syntax (2065419873.py, line 1)

Shows location of issue

In [21]:
print(myVar)

NameError: name 'myVar' is not defined

Double check names, double check paths, double check typos (doesn't not tell you if there is a typo, as it doesn't know that the file doesn't exist)

In [23]:
del(x)
print(x)

NameError: name 'x' is not defined

Error is I tried to print x, but had deleted it first

In [24]:
pwd

'C:\\Users\\Asus'

In [26]:
myInt = 111

In [27]:
len(myInt)

TypeError: object of type 'int' has no len()

In [29]:
myString = '111'
len(myString)

3

Strings can have lengths, there are multiple elements contained in the string

In [30]:
newString = 'hello world'
len(newString)

11

### Indexing
Every value in a string has an index. First element in string has index of 0.

In [31]:
newString[0]

'h'

Everything starts with 0, length is 11, characters are 10

In [32]:
newString 1:5

SyntaxError: invalid syntax (1532155213.py, line 1)

In [33]:
newString[1:5]

'ello'

In [34]:
newString[1:9:2]

'el o'

Start at index 1, then take every second value until index 9

In [35]:
newString[-1:2:-2]

'drwo'

Start at -1 (last letter), go by twos backwards

In [36]:
newString[0:4]

'hell'

Oopsy

In [37]:
newString[0:5]

'hello'

In [38]:
newString[6:11]

'world'

In [39]:
newString[3:11:2]

'l ol'

lol

In [43]:
newString[1:11:2]

'el ol'

In [45]:
newString[0:11:-1]

''

In [47]:
newString[-1:-12:-1]

'dlrow olleh'

Ranges are noninclusive, ex. 0-5, 5 is not included. Going backwards, starting at -1, goes to -11. To include the last letter, would need to do -12. Indexs start at 0

### Lists
Created using square brackets [] 

``` ex. drinks = [ "whiskey", "vodka", "lager", "cider"]```

Lists are
* Ordered
* Changeable

In [50]:
drinks = [ "whiskey", "vodka", "lager", "cider"]

In [51]:
drinks [1]

'vodka'

In [52]:
drinks[3] = "tequila"

In [53]:
drinks [3]

'tequila'

In [54]:
drinks[1] = 101

In [56]:
drinks[1]

101

In [58]:
type[drinks]

type[['whiskey', 101, 'lager', 'tequila']]

In [59]:
type(drinks)

list

In [60]:
type(drinks[0])

str

In [62]:
shots = drinks[0]
print(shots)

whiskey

In [63]:
drinks [2:4]

['lager', 'tequila']

Add to list .append

In [64]:
drinks.append("wine")

In [65]:
drinks

['whiskey', 101, 'lager', 'tequila', 'wine']

In [66]:
len(drinks)

5

In [67]:
newDrinks = ["beer", "water"]

"Append" : adds the two items as one string

In [68]:
drinks.extend(newDrinks)

In [69]:
drinks

['whiskey', 101, 'lager', 'tequila', 'wine', 'beer', 'water']

"Extend": adds items as separate items

In [70]:
drinks.insert(3,"ice tea")

In [71]:
drinks

['whiskey', 101, 'lager', 'ice tea', 'tequila', 'wine', 'beer', 'water']

"Insert": adds items into specific place in list

### Tuples
Tuples are defined with round brackets
* Ordered
* Unchangeabe

### Set
Sets are defined with curly brackets
* Unordered
* Unchangeable
* Unindexed
* Cannot have repeat values

### Dictionary
* Ordered
* Changeable
* Does not allow supplicates (cannot have same thing twice, ex. only 1 value for age)

### IF statements
If statements to control the flow of a program and perform action. Evaluating booleans (true/false, 0/1).
Expressed by operations:
* Comparisons: ==, !=, >, <, <=, >=
* Logical:

In [72]:
x, y = 1, 2

In [73]:
x == y

False

== : is it equal to?

In [74]:
x != y

True

!= : is it not equal to?

Can compare integers and string

In [75]:
x != y and x > y

False

Both statements have to be true.

In [76]:
x != y or x > y

True

At least one is true.

In [77]:
x != y and not x > y

True

In [78]:
x != y and bool(1)

True

Zero is false, everything else is true.

In [79]:
x != y and bool(0)

False

In [81]:
z = []

In [82]:
x != y and bool(z)

False

Zero or empty variable returns false

In [83]:
x != y and (bool(y) and bool(x))

True

### If statements broken down
* Begins with IF
* Then a conditional (can be evaluated as True or False)
* Ends in ":"
* An indent
* A second conditional "else if"
* What to do if all of the other conditionals return "false"

In [84]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

Cannot have anything after the "else"

### Match and Case
Eval different outcomes. Instead of IF use MATCH

In [85]:
!touch tmp.txt

'touch' is not recognized as an internal or external command,
operable program or batch file.

### Class exercise

In [86]:
name = input ("Enter student name: ")

Enter student name:  Ariel

In [87]:
name

'Ariel'

In [91]:
name = input ("Enter student name: ")
if name == "Mimi":
    print("BCN")

Enter student name:  Mimi

BCN

In [96]:
name = input ("Enter student name: ") #This line prompts for the user's name
if name == "Mimi":
    area = "BCN"
else:
    nameLen = len(name)
    if nameLen <=4:
        area = "SP"
    elif nameLen > 4 and nameLen <=7:
        area = "LD"
    else:
        area = "BCN"
print("Your area is: " + area)

Enter student name:  Ariel

Your area is: LD